mcping


[![Go](https://github.com/urFate/McPing/actions/workflows/go.yml/badge.svg)](https://github.com/urFate/McPing/actions/workflows/go.yml)
[![issues](https://img.shields.io/github/issues/urFate/McPing)]